{% extends 'Inicio/categoria.html' %}
{% load static %}



{% block titulo %}
<p>{{ Titulo }}</p>
{% endblock titulo %}
{% block imagen1 %}
<img src="{{ Imagen1 }}" alt="Razer Seiren mini" id="img2" class="img-fluid ">
{% endblock imagen1 %}

{% block nombre1 %}
<p class="text-break">{{ Nombre1 }}</p>
{% endblock nombre1 %}
{% block modelo1 %}
<p class="text-break">{{ Modelo1 }}</p>
{% endblock modelo1 %}
{% block precio1 %}
<h6>{{ Precio1 }}</h6>
{% endblock precio1 %}
{% block imagen2 %}
<img src="{{ Imagen2 }}" alt="Razer Seiren mini" id="img2" class="img-fluid ">
{% endblock imagen2 %}

{% block nombre2 %}
<p class="text-break">{{ Nombre2 }}</p>
{% endblock nombre2 %}
{% block modelo2 %}
<p class="text-break">{{ Modelo2 }}</p>
{% endblock modelo2 %}
{% block precio2 %}
<h6>{{ Precio2 }}</h6>
{% endblock precio2 %}
{% block imagen3 %}
<img src="{{ Imagen3 }}" alt="Razer Seiren mini" id="img2" class="img-fluid ">
{% endblock imagen3 %}

{% block nombre3 %}
<p class="text-break">{{ Nombre3 }}</p>
{% endblock nombre3 %}
{% block modelo3 %}
<p class="text-break">{{ Modelo3 }}</p>
{% endblock modelo3 %}
{% block precio3 %}
<h6>{{ Precio3 }}</h6>
{% endblock precio3 %}
{% block imagen4 %}
<img src="{{ Imagen4 }}" alt="Razer Seiren mini" id="img2" class="img-fluid ">
{% endblock imagen4 %}

{% block nombre4 %}
<p class="text-break">{{ Nombre4 }}</p>
{% endblock nombre4 %}
{% block modelo4 %}
<p class="text-break">{{ Modelo4 }}</p>
{% endblock modelo4 %}
{% block precio4 %}
<h6>{{ Precio4 }}</h6>
{% endblock precio4 %}
{% block imagen5 %}
<img src="{{ Imagen5 }}" alt="Razer Seiren mini" id="img2" class="img-fluid ">
{% endblock imagen5 %}

{% block nombre5 %}
<p class="text-break">{{ Nombre5 }}</p>
{% endblock nombre5 %}
{% block modelo5 %}
<p class="text-break">{{ Modelo5 }}</p>
{% endblock modelo5 %}
{% block precio5 %}
<h6>{{ Precio5 }}</h6>
{% endblock precio5 %}
{% block imagen6 %}
<img src="{{ Imagen6 }}" alt="Razer Seiren mini" id="img2" class="img-fluid ">
{% endblock imagen6 %}

{% block nombre6 %}
<p class="text-break">{{ Nombre6 }}</p>
{% endblock nombre6 %}
{% block modelo6 %}
<p class="text-break">{{ Modelo6 }}</p>
{% endblock modelo6 %}
{% block precio6 %}
<h6>{{ Precio6 }}</h6>
{% endblock precio6 %}
{% block imagen7 %}
<img src="{{ Imagen7 }}" alt="Razer Seiren mini" id="img2" class="img-fluid ">
{% endblock imagen7 %}

{% block nombre7 %}
<p class="text-break">{{ Nombre7 }}</p>
{% endblock nombre7 %}
{% block modelo7 %}
<p class="text-break">{{ Modelo7 }}</p>
{% endblock modelo7 %}
{% block precio7 %}
<h6>{{ Precio7 }}</h6>
{% endblock precio7 %}
{% block imagen8 %}
<img src="{{ Imagen8 }}" alt="Razer Seiren mini" id="img2" class="img-fluid ">
{% endblock imagen8 %}

{% block nombre8 %}
<p class="text-break">{{ Nombre8 }}</p>
{% endblock nombre8 %}
{% block modelo8 %}
<p class="text-break">{{ Modelo8 }}</p>
{% endblock modelo8 %}
{% block precio8 %}
<h6>{{ Precio8 }}</h6>
{% endblock precio8 %}