<!DOCTYPE html>
<html lang="en">
{ %load static% }

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Agregar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'Ventas/css/estilos.css' %}" type="text/css" rel="stylesheet">
</head>

<body>
    <form action="POST" enctype="multipart/form-data" name="formulario">
        { %csrf_token% }
        <div class="form_group">
            <label for="">chip</label>
            <input type="number" class="form-control" id="chip">


        </div>
        <div class="form-group">
            <label for="">Nombre</label>
            <input type="text" class="form-control"  name="nombre" id="nombre">
        </div>
        <div class="form-group">
            <label for="">edad</label>
            <input type="number" class="form-control" name="edad" id="edad">
        </div>
        <div class="form-group">
            <label for="">color de pelo</label>
            <input type="text" class="form-control" name="pelo" id="pelo">
        </div>
        <div class="form-group">
            <label for="">foto</label>
            <input type="file" class="form-control"name="foto" id="foto">
        </div>
        <div class="form-group">
            <label for="">raza</label>
            <select class="form-control" name="razas" id="raza">
                {%for i in raz_m%}
                <option value="{{id.idraza}}}">{{i.nombre}}</option>
                {%endfor%}
            </select>
        </div>
        <button type="submit"    class="btn btn-primary"></button>



    </form>

</body>

</html>