<!DOCTYPE html>
<html lang="en">
        {% load static %}
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listado mascotas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="{% static 'Ventas/css/estilos.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <table class="table">
        <td>Chip</td>        
        <td>Nombre</td>        
        <td>Edad</td>        
        <td>Color</td>        
        <td>foto</td>        
        <td>Raza</td>        
        <td>acciones</td>        
        </table>
        
    </div>
</body>
</html>